# Python
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Large data files
ml/data/raw/*
ml/data/processed/*
!ml/data/raw/test-data.csv
!ml/data/raw/train-data.csv

# Machine Learning Models
ml/models/*

# Environment variables
.env

# Git
.git